---
import "../../global_css/style.css";
import Nav from "../../components/Nav.astro";
import Footer from "../../components/Footer.astro";
export async function getStaticPaths() {
  const data = await fetch("https://sxdcfbtekrznubmimpmp.supabase.co/rest/v1/cphlf2", {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN4ZGNmYnRla3J6bnVibWltcG1wIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTU3MjM3OTgsImV4cCI6MjAxMTI5OTc5OH0.SWGKNpOWij6-SQRCZs_H00PzCW70M2cG6_IYIIAjI1k",
    },
  }).then((response) => response.json());

  return data.map((artwork) => {
    return {
      params: { slug: artwork.slug },
      props: { myData: artwork },
    };
  });
}

const { myData } = Astro.props;
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

    <title>{myData.slug}</title>
  </head>
  <Nav />
  <body>
    <main>
      <h1>{myData.titel}</h1>
      <div class="grid">
        <img class="img_single" src={myData.img} alt="#" />
        <article class="info1">
          <h4 class="overskrift_info1 who_overskrift info_flex">WHO:</h4>
          <p class="who overskrift info_flex">{myData.hvem}</p>
          <h4 class="overskrift_info1 info_flex">WHERE:</h4>
          <p class="where overskrift info_flex">{myData.hvor}</p>
          <h4 class="overskrift about info_flex"><strong>ABOUT:</strong></h4>
          <p class="bio info_flex">{myData.bio}</p>
        </article>
        <article class="info2">
          <h4 class="link_titel info2"><strong>LINKS:</strong></h4>
          <a class="link info2" href={myData.link}>Website</a>
          <br />
          <a class="social_medie link info2" href={myData.socialemedier}>Instagram</a>
          <h4 class="tak_titel info2"><strong>THANKS TO:</strong></h4>
          <p class="tak_tekst info2">{myData.tak}</p>
        </article>
      </div>
    </main>
    <Footer />
  </body>

  <!-- //*MANGLER FOOTER -->

  <style>
    .overskrift,
    .overskrift_info1,
    h1 {
      text-align: center;
    }
    main {
      padding: 50px;
    }
    h4 {
      padding-top: 20px;
      font-family: var(--font-jua);
      font-size: 1.2rem;
    }
    img {
      padding-bottom: 30px;
    }
    .about {
      padding-top: 50px;
    }
    .link_titel {
      padding-top: 100px;
      padding-bottom: 15px;
    }
    .link {
      text-decoration: underline;
      font-family: var(--font-arial);
    }
    h1 {
      font-size: var(--font-size-h1);
    }
    .tak_titel {
      padding-top: 40px;
    }
    @media screen and (min-width: 768px) {
      .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      h1 {
        font-size: 4rem;
        padding: 40px;
      }

      .overskrift_info1,
      .overskrift,
      .bio {
        grid-column: 3;
        text-align: start;
      }

      .info2 {
        grid-column: 1;
      }
      .info_flex {
        display: flex;
        flex-direction: column;
      }
      .info1 {
        display: grid;
        padding-left: 50px;
      }
      .link_titel {
        padding-top: 30px;
      }
    }
  </style>
</html>
